.dropdowns {
    display: inline-block;
    position: relative;
  }
  .dropdown-contents {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdowns:hover .dropdown-contents {
    display: block;
  }
  .dropdown-contents a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    background:blue;
  }
  .dropdown-contents a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

